$primary-color1: #ede6b9;
$primary-color2: #316879;
$border-radius-top: 0 0 100px 100px;
$border-radius-bottom: 100px 100px 0 0;
$font-farsi: yekan;

@font-face {
  font-family: osmanTaha;
  src: url(../assets/fonts/neirizi/neirizi.ttf);
  font-weight: 400;
}
@font-face {
  font-family: yekan;
  src: url(../assets/fonts/yekan/Yekan.ttf);
}
@font-face {
  font-family: vaziri;
  src: url(../assets/fonts/vazir/Vazir-Medium-WOL.ttf);
}
@font-face {
  font-family: precious;
  src: url(../assets/fonts/Tangerine/Tangerine-Bold.ttf);
}
@mixin centeredboth {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin centeredleft {
  left: 50%;
  transform: translateX(-50%);
}
@mixin centeredtop {
  top: 50%;
  transform: translateY(-50%);
}

svg:hover {
  cursor: pointer;
}

input[type="submit"] {
  cursor: pointer;
}

#root {
  position: relative;
}

@mixin spinner($size, $border-s: 11px) {
  position: absolute;
  z-index: 50;
  width: $size;
  height: $size;
  border-radius: 50px;
  background-image: linear-gradient(45deg, rgba(0, 158, 137, 0.253), rgba(145, 88, 50, 0.247));
  div {
    border-radius: 50px;
    width: $size;
    height: $size;
    position: absolute;
    border: $border-s solid rgb(107 107 107 / 40%);
    border-top: $border-s solid rgb(125 30 17 / 60%);
    animation: spinners 2s ease-in-out 0s infinite;
  }
  div:last-child {
    animation: spinners1 2s ease-in-out 0s infinite;
    border-top: $border-s solid rgb(0 88 115 / 50%);
  }
}

@keyframes spinners {
  0%{
    transform: rotate(0);
  }
  50%, 100% {
    transform: rotate(360deg);
  }
}

@keyframes spinners1 {
  0%, 50%{
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}